<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/passwordEdit.css" />
    <%- include("../partials/head")%>
    <title>Cambia tu contraseña</title>
  </head>
  <body>
    <!-- encabezado de la pagina -->
    <%- include("../partials/header")%>
    <div class="wrap">
      <section class="contenedor cont-login">
        <h1><strong><%= user.first_name %></strong> : Cambiá tu contraseña</h1>
        <article>
          <form
            action="/Usuario/Cambiar/<%= user.id %>?_method=PUT"
            method="POST"
            id="edit"
            name="edit"
            class="contacto"
          >
            <div class="div-100">
              <label for="new-password" class="t-ubicacion"
                >Nueva contraseña</label
              >
              <input
                type="password"
                size="50"
                name="user_password"
                id="user_password"
                placeholder="Escribe tu NUEVA password"
              />
            </div>
            <div class="div-100">
              <label for="new-password" class="t-ubicacion"
                >Repita la nueva contraseña</label
              >
              <input
                type="password"
                size="50"
                name="Repeat_password"
                id="Repeat_password"
                placeholder="Repite la NUEVA password"
              />
            </div>
            <div>
              <input
                type="submit"
                class="bttn"
                name="button-change"
                id="button-change"
                value="CAMBIAR"
              />
            </div>
          </form>
        </article>
      </section>
    </div>
    <%- include("../partials/footer")%>
  </body>
</html>
